* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
 background-color: #56c25b;
}

body{
    background-color:rgb(235, 76, 13)
}
nav div{
    background-color:rgb(255, 255, 255);
    margin:auto;
    padding:auto;
}
nav div img{
    border-radius:90px;
}

#fotodeunadenuestrasburguers,
#Direccion {
    padding: 30px 60px 30px 60px;


}

h3 {
    text-align: center;
    color: rgb(109, 134, 102)
}

#formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: auto;

}

input[type=text],
select,
textarea {
    width: 300px;
    height: 50px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;
    resize: vertical
}

#formulario {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: auto;
}

footer {
    display: flex;
    padding: 20px;
    background-color: #fc4109;
}

footer div {
    display: flex;
    gap: 15px;
    list-style: none;
    flex-basis: 17%;
    text-decoration: none;
}

footer div a {
    flex-grow: 1;
    color: rgb(255, 255, 255);
    font-size: 20px;

}

footer div a :hover {
    color: #ff3300
}


.logo:hover {
    height: 120px;
    width: auto;
}

#img__logo {
    display: block;
    margin: auto;

}

h4 {
    color: #ffeeee;


}

#h4Centrado {
    display: block;
    text-align: center;
    margin: auto;
    padding: 20px 10px 5px 10px;
}

.slide {
    margin-top: 10px;

}

.slide img {
    height: 65vh;
}
#h4Centrado 
	{
        -webkit-animation: tracking-in-expand 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 3s both;
                animation: tracking-in-expand 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 3s both;
    }

    @-webkit-keyframes tracking-in-expand {
        0% {
          letter-spacing: -0.5em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes tracking-in-expand {
        0% {
          letter-spacing: -0.5em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
        }
      }
      